{{define "body"}}
<div>
  <h1>Welcome, {{.User.Name}}!</h1>
</div>
<div>
  <script>
    let userData = JSON.parse('{{ .UserJson }}');
  </script>
  <script src="/static/js/form.js"></script>

  <form method="POST">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" value="{{.User.Name}}"><br>

    <label for="comesby">Comes By:</label><br>
    <select id="comesby" name="comesby">
      <option {{if eq .User.ComesBy "car"}}selected{{end}} value="car">Car</option>
      <option {{if eq .User.ComesBy "public transport"}}selected{{end}} value="public transport">Public Transport</option>
      <option {{if eq .User.ComesBy "don't know"}}selected{{end}} value="don't know">Don't Know</option>
    </select><br>

    <label for="bringswith">Brings With:</label><br>

    {{range .User.BringsWith}}
      {{ $value := . }}
      {{ if $value }}
      <input type="checkbox" id="{{ $value }}" name="bringswith" value="{{ $value }}" checked>
      <label for="{{ $value }}">{{ $value }}</label><br>
      {{ end }}
    {{end}}


    {{range .DefaultBringsWith}}
      {{ $value := . }}
        <input type="checkbox" id="{{ $value }}" name="bringswith" value="{{ $value }}">
        <label for="{{ $value }}">{{ $value }}</label><br>
    {{end}}

    <div id="newCheckboxes"></div>
    <input type="text" id="other" name="bringswith" placeholder="Other"><br>
    <button id="add">Add</button>

    <label for="stays">Stays:</label><br>
    <input type="checkbox" id="0" name="stays" value="0" {{if index .User.Stays 0}}checked{{end}}>
    <label for="0">0</label><br>
    <input type="checkbox" id="1" name="stays" value="1" {{if index .User.Stays 1}}checked{{end}}>
    <label for="1">1</label><br>
    <input type="checkbox" id="2" name="stays" value="2" {{if index .User.Stays 2}}checked{{end}}>
    <label for="2">2</label><br>
    <input type="checkbox" id="3" name="stays" value="3" {{if index .User.Stays 3}}checked{{end}}>
    <label for="3">3</label><br>
    <input type="checkbox" id="4" name="stays" value="4" {{if index .User.Stays 4}}checked{{end}}>
    <label for="4">4</label><br>

    <input type="submit" value="Submit">
  </form>
</div>
{{end}}
